@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /*font-family: 'Open Sans', sans-serif;*/


.coffee-list{
  background-image: url('img/background.jpg');
  background-size: cover;
}

.coffee-item{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 15px 0;
  border-radius: calc(100px / 2); /*Пробелы обязательно*/
  transition: background-color 300ms, transform 300ms;
  cursor: pointer;
}

.coffee-item img{
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.coffee-item span{
  font-family: 'Open Sans', sans-serif;
  margin-left: 25px;
  font-size: 20px;
}

.coffee-item:hover{
  background-color: rgba(50, 50, 50, 0.7);
  transform: scale(1.05);
}

.coffee-oper{
  background-color: rgb(230, 230, 230);
  padding: 1rem;
}

.display{
  background-color: #90ee90;
  border: 2px solid darkgreen;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: 'Open Sans', sans-serif;
}

.cup-container{
  margin-top: 2rem ;
}

.cup{
  width: 100%;
  display: none;
  opacity: 0;
}

.atm{
  width: 100%;
}

.change-container{
  min-height: 5rem;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 0.5rem;
}